body{
	background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
	/*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-repeat: no-repeat;
    background-size: auto;
}
.form-horizontal{
	margin-top: 10%;
	width: 50%;
	color: white;
}
.signin-class{
	margin-top: 10px;
}
.welcome{
  align-content: center;
	padding-top: 7%;
	color: white;
	font-size: 70px;
	font-family: Lobster;
}
.lastline{
	background-color: #FFF8DC;
	height:auto;
	width: 100%;
	word-spacing: 2px;
	position: fixed;
	bottom: 0;
}

h6{
	color: black;
	font-size: 15px;
	text-align: center;
}
h6:hover{
 	text-decoration: bold;
 	text-align: center;
 }
 .btn-default{
 	background-color: #5BF509;
 	font-weight: 600;
 }
